/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

@font-face {
  font-family: 'Quaint Gothic';
  src: url('../fonts/Quaint Gothic.ttf') format('TrueType');
}

$mont: 'Lato', sans-serif;
$banner: 'Quaint Gothic', sans-serif;
$roboto: 'Roboto', sans-serif;
$jose: 'Josefin Sans', sans-serif;
$base-font: 'Lato', sans-serif;
$heading-font: 'Lato', sans-serif;
$menu-font: 'Lato', sans-serif;
$banner-font: 'Lato', sans-serif;
$mode: 'Lato', sans-serif;
$author-font: 'Lato', sans-serif;
$bg1: #000;
$bg2: #000;
$base-color: #111;
$icons: #69799b;
$color1: #917a2e;
$color2: #fff;
$color3: #fff;
$color4: #111;
$color5: #917a2e;
$color6: #d3b05d;
$color7: #111;
$footer: #fff;
$textShadow: #000 0 1px 4px;

@mixin linearGradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

$theme-colors: (
  primary: #27ae60
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
