/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

@font-face {
  font-family: 'Monotype Corsiva';
  src: url('../fonts/MTCORSVA.ttf') format('TrueType');
}

$mont: 'Montserrat', sans-serif;
$jose: 'Josefin Sans', sans-serif;
$base-font: 'Muli', sans-serif;
$heading-font: 'Muli', sans-serif;
$menu-font: 'Muli', sans-serif;
$banner-font: 'Monotype Corsiva', sans-serif;
$mode: 'Muli', sans-serif;
$author-font: 'Muli', sans-serif;
$bg1: #000;
$bg2: #000;
$base-color: #424242;
$icons: #69799b;
$color1: #987e0f;
$color2: #f7dabc;
$color3: #fff;
$color4: #111;
$color5: #d7a133;
$color6: #5e0bb1;
$color7: #111;
$footer: #fff;
$textShadow: #000 0 1px 4px;

@mixin linearGradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

$theme-colors: (
  primary: #27ae60
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
