body.blog,
body.archive,
body.search,
body.single,
body.page-template-pages,
body.error404 {
  position: relative;
  color: #363636;
}

.blog .current_page_parent,
.search .current_page_parent,
.archive .current_page_parent,
.single-post .current_page_parent {
  &::before {
    color: $color2 !important;
  }

  a {
    color: $color2 !important;
  }
}

.blog-content {
  min-height: 900px;
  position: relative;

  #banner {
    height: 412px;

    h1 {
      font-family: $banner-font;
      font-size: 89px;
      margin: 90px 0;
      color: #fff;
    }

    // .blog-menu {
    //   position: absolute;
    //   top: 0;
    //   right: 210px;
    //   background: #fff;
    //   padding: 10px 30px;
    //   display: inline;
    //   -webkit-border-bottom-right-radius: 10px;
    //   -webkit-border-bottom-left-radius: 10px;
    //   -moz-border-radius-bottomright: 10px;
    //   -moz-border-radius-bottomleft: 10px;
    //   border-bottom-right-radius: 10px;
    //   border-bottom-left-radius: 10px;

    //   span {
    //     display: inline-block;
    //     vertical-align: -5px;
    //     color: #000;
    //   }

    //   .social-cont {
    //     display: inline-block;

    //     .menu-footer-social-media-container {
    //       margin: 0 50px 0 10px;
    //     }
    //   }

    //   .vl {
    //     display: inline-block;
    //     border-left: 1px solid #d0d0d0;
    //     height: 25px;
    //     position: absolute;
    //     right: 97px;
    //     top: 15px;
    //   }

    //   ul {
    //     li {
    //       margin: 0;

    //       a {
    //         width: 35px;
    //         height: 35px;
    //         line-height: 40px;
    //         border-radius: 30px;
    //         background: $color1;

    //         em {
    //           font-size: 20px;
    //           color: #fff;
    //         }

    //         &:hover {
    //           background: darken($color: $color1, $amount: 5%);
    //         }
    //       }
    //     }
    //   }

    //   a {
    //     text-transform: uppercase;
    //     vertical-align: -5px;
    //     color: #000;

    //     &:hover {
    //       color: #217393;
    //     }
    //   }
    // }
  }

  .bg-holder {
    position: relative;
    text-align: center;
  }

  .content-holder {
    position: relative;
    z-index: 50;
    padding: 50px 0 50px;

    h1 {
      padding: 0 0 40px;
      color: #2a2a2a;
      text-transform: uppercase;
    }
  }

  @include media-breakpoint-only(lg) {
    .content-holder {
      .head {
        h2.first {
          font-size: 120px;
        }

        h2.second {
          bottom: 18px;
        }
      }
    }
  }

  @include media-breakpoint-only(md) {
    .content-holder {
      .head {
        h2.first {
          font-size: 90px;
        }

        h1.second {
          font-size: 45px;
          bottom: 16px;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 45px 0 45px 0;

    .content-holder {
      padding: 0;

      .head {
        h2.first {
          display: none;
        }

        h1.second {
          font-size: 35px;
          position: static;
        }
      }

      .blog-desc {
        width: auto;
      }
    }
  }

  @include media-breakpoint-only(lg) {
    #banner {
      .blog-menu {
        right: 75px;
      }
    }
  }

  @include media-breakpoint-only(md) {
    #banner {
      .blog-menu {
        right: 50px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    #banner {
      .blog-menu {
        right: 0;
        left: 0;
        text-align: center;

        .social-cont {
          .menu-footer-social-media-container {
            margin: 0 10px;
          }
        }

        .vl {
          display: none;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    h1 {
      font-size: 35px;
      padding: 0 0 50px;
    }
  }
}

.blogpost-row {
  padding: 20px 20px 80px;
  margin-top: 30px;
  background: #fff;
  border-radius: 10px;

  &:nth-of-type(1) {
    margin-top: 0;
  }

  .blog-summary {
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: none;
    }
  }

  .img-cont {
    text-align: center;

    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }

  .text-cont {
    text-align: left;
    padding: 30px 0;
    position: relative;
  }

  h2,
  h2 a {
    font-size: 25px;
    text-transform: none;
    padding: 0 0 8px;
    text-align: left;
    line-height: 1.3;
    font-weight: bold;
    margin: 0;
    font-family: $heading-font;
    color: $bg1;
    letter-spacing: 0;

    &:hover {
      color: lighten($bg1, 5%);
    }
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 8px;
    display: none;
  }

  h4 {
    padding: 0 0 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: $base-font;
  }

  h5 {
    padding: 0 0 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: $base-font;
  }

  p {
    line-height: 30px;
  }

  .read-more-btn {
    text-align: right;

    .read-more {
      width: 170px;
      height: 47px;
      padding: 0;
      text-align: center;
      float: left;
      font-family: $heading-font;
      font-size: 18px;
      line-height: 47px;
      text-transform: uppercase;
      color: #fff;
      border-radius: 30px;
      background: $color1;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .date-author {
    margin-bottom: 15px;
    width: 100%;

    span {
      display: inline-block;
      font-size: 14px;
      text-align: left;
      color: #363636;

      svg,
      .fas,
      .fab {
        padding: 0 7px 0 0;
        font-size: 20px;
        position: relative;
        top: 3px;
      }
    }

    .date {
      margin: 0 0 0 35px;
    }
  }

  .no-img {
    float: none !important;
    width: auto !important;
    max-width: 100% !important;
    flex: 0 0 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
  }

  figure.wp-caption {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  figure.wp-caption.alignleft,
  figure.wp-caption.alignnone,
  figure.wp-caption.alignright {
    margin-top: 0;
  }

  ul {
    padding: 0 0 0 40px;

    li {
      line-height: 30px;
      padding: 0 0 15px;

      ul {
        padding-top: 15px;
        list-style-type: circle;

        li {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  ol {
    padding: 0 0 0 20px;

    li {
      line-height: 30px;
      padding: 0 0 15px;

      ul {
        padding: 15px 0 0 40px;
      }
    }
  }

  ol.list-letter,
  ol li ol {
    padding: 15px 0 0 30px;
  }

  ol.list-letter,
  ol li ol li {
    list-style-type: lower-alpha;

    li:last-child {
      padding-bottom: 0;
    }

    ul {
      padding-top: 15px;

      li:last-child {
        padding-bottom: 0;
      }
    }
  }

  ol.list-number,
  ol li ol li ol {
    padding: 15px 0 0 40px;
    list-style-type: decimal;
  }

  ol ul {
    list-style-type: disc;

    li {
      ul {
        list-style-type: circle;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .img-cont {
      float: none;
      width: auto;
      margin: 0 0 30px;
      text-align: center;
    }

    .text-cont {
      float: none;
      width: auto;

      .date-author {
        span {
          display: block;
          float: none !important;
          font-size: 15px;
        }

        .date {
          margin: 10px 0 0;
        }
      }

      .wp-caption.alignleft,
      .wp-caption.alignright {
        float: none;
        margin: 15px auto;
        width: 100% !important;
        text-align: center;
        max-width: none !important;

        img {
          width: 330px !important;
        }
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .text-cont {
      .wp-caption.alignleft,
      .wp-caption.alignright {
        max-width: 100% !important;
        width: 100% !important;
        text-align: center;

        img {
          max-width: 100%;
          width: 200px !important;
        }
      }
    }
  }
}

.posts-navigation {
  width: 100%;
  padding: 0;
  margin: 30px 0 0;
  border-top: 0;

  h2 {
    display: none;
  }

  .nav-links {
    display: block;

    a,
    a:focus,
    a:active {
      font-size: 16px;
      color: #4d4d4d;
      position: relative;
      display: inline-block;
      text-transform: capitalize;
    }

    a:hover {
      color: $color1;
    }

    a::before {
      position: absolute;
      left: 0;
      top: 5px;
      font-family: "Font Awesome 5 Free", serif;
      font-weight: 600;
      font-size: 18px;
      content: normal;
      line-height: 13px;
    }

    .nav-next {
      float: right;

      a {
        text-align: right;
        padding: 0 12px 0 0;

        &::before {
          content: "\f105";
          left: auto;
          right: 0;
        }
      }
    }

    .nav-previous {
      float: left;

      a {
        text-align: left;
        padding: 0 0 0 12px;

        &::before {
          content: "\f104";
        }
      }
    }
  }
}

.blogpost-row.blog-detail {
  padding: 15px;
  background: #fff;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #e7e8e9;

  .img-cont {
    text-align: center;
  }

  .text-cont {
    background: none;
    border: 0;
    border-radius: 0;
    padding: 0;
    width: auto;
    float: none;

    h2 {
      font-size: 23px;
      text-transform: none;
      padding: 0 0 5px;
      letter-spacing: 0;
      color: $base-color;
      font-family: $base-font;
    }

    h3,
    h4,
    h5,
    h6 {
      display: block !important;
    }

    h3 {
      color: $base-color;
    }

    p {
      color: $base-color;
    }

    .date-author {
      margin: 0 0 30px;

      span {
        color: $base-color;
      }
    }

    .wp-caption-text {
      color: $base-color;
      word-wrap: break-word;
      padding: 5px 0 0;
      font-size: 13px;
    }

    ul,
    ol {
      li {
        color: $base-color;
      }
    }
  }
}

span.wpcf7-not-valid-tip {
  padding: 5px;
  color: #f00;
  text-align: left;
  margin: 1px 0 0;
  background: #fff;
  font-weight: 500;
}

div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ng {
  border: 2px solid #f00;
  color: #f00;
  text-align: center;
  background: #fff;
}

div.wpcf7-mail-sent-ok {
  border: 2px solid #32dc5d;
  color: #32dc5d;
  text-align: center;
  background: #fff;
}

div.wpcf7 img.ajax-loader {
  display: block;
}

.alert-warning {
  background: #f7f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: 0;
  color: #333;
}

.not-found {
  padding: 150px 0 80px 0;
  min-height: 700px;

  h1 {
    padding: 0 0 40px;
    text-align: center;
    text-transform: uppercase;
    color: #2a2a2a;
  }

  .alert-warning {
    color: $base-color;
    text-align: center;
  }

  @include media-breakpoint-down(sm) {
    padding: 45px 0;
  }
}

.search-result {
  min-height: 710px;

  .content-holder > h2 {
    text-align: center;
    padding: 0 0 50px;
    color: $base-color;
  }

  .status-publish {
    margin: 30px 0 0;

    &:nth-of-type(1) {
      margin-top: 0;
    }
  }
}
