#contact {
  padding: 100px 0 50px;
  background: #252422;

  .text-social-cont {
    color: #fff;
    
    .section-heading {
      font-size: 50px;
      font-weight: 700;
      font-family: $jose;
      text-transform: uppercase;
      color: #fff;
      padding: 0 0 0.6em;
    }
  }

  @include media-breakpoint-only(md) {
    min-height: 0;
    background-size: cover;

    .wrapper {
      width: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    .bg-holder {
      padding: 50px 0;
    }

    .text-social-cont {
      width: 100%;
      text-align: center;
      padding: 0 0 40px;

      p {
        padding: 0 0 30px;
      }

      .section-heading {
        font-size: 30px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    padding: 50px 0;
    
    .text-social-cont {
      padding: 0 0 35px;

      p {
        padding: 0 0 20px;
      }

      .section-heading {
        .icon-primary {
          display: block;
          height: 60px;
          width: 60px;
          margin: 0 auto 7px;
          text-align: center;
          justify-content: center;
          padding: 3px !important;
          font-size: 35px !important;
  
          img {
            margin: 0 !important;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
