#main {
    padding: 100px 0;
    background: $color2;
    width: 100%;
  
    .text-cont {
      align-self: flex-start;
  
      .section-heading {
        font-size: 50px;
        font-weight: 700;
        font-family: $jose;
        text-transform: uppercase;
        color: #212529;
        padding: 0 0 0.6em;
      }
  
      p {
        font-family: $roboto;
        font-size: 15px;
      }
  
      .buy-now {
        background: $color1;
        font-family: $base-font;
        display: inline-block;
        margin: 0;
        letter-spacing: 3px;
        width: 250px;
        height: 64px;
        line-height: 64px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 0;
        font-weight: 600;
        font-size: 18px;
        text-align: left;
        padding-left: 25px;
        transition: transform 0.2s;
  
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  
    .img-cont {
      position: relative;
  
      img {
        width: 350px;
        margin-bottom: 10px;
      }
  
      .paypal {
        display: block;
        background: url(../images/paypal.png);
        width: 200px;
        height: 60px;
        margin: 40px auto 0;
      }
  
      .amazon {
        display: inline-block;
        background: url(../images/amazon.png);
        width: 95px;
        height: 50px;
      }
    }
  
    .section-heading.author {
      margin-top: 35px;
    }
  
    @include media-breakpoint-down(sm) {
      text-align: center;
  
      .img-cont {
        margin: 0 auto;
        text-align: center;
  
        img {
          width: 300px;
          display: block;
          margin: 0 auto;
        }
  
        form {
          padding: 40px 1px 20px;
        }
      }
  
      .text-cont {
        .section-heading {
          font-size: 30px;
          padding-top: 40px;
        }
      }
    }
  
    @include media-breakpoint-down(xs) {
      padding: 50px 0;
  
      .text-cont {
        .section-heading {
          .icon-primary {
            display: block;
            height: 60px;
            width: 60px;
            margin: 0 auto 7px;
            text-align: center;
            justify-content: center;
            padding: 3px !important;
            font-size: 35px !important;
    
            img {
              margin: 0 !important;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
