#excerpts {
    height: auto;
    padding: 100px 0 100px;
    background: #ededed;

    .text-cont {
        align-self: flex-start;

        h2 {
            font-size: 50px;
            font-weight: 700;
            font-family: $jose;
            text-transform: uppercase;
            color: #000;
            padding: 0 0 0.5em;
        }

        p {
            color: #000;
            font-size: 15px;
            font-family: $roboto;
        }
    }

    .img-cont {
        text-align: center;
    }

    .links {
        margin-top: 1em;

        .buy-now {
            background: $color1;
            font-family: $base-font;
            display: inline-block;
            margin: 1em 0;
            letter-spacing: 3px;
            width: auto;
            height: 64px;
            line-height: 64px;
            color: #fff;
            text-transform: uppercase;
            border-radius: 0;
            font-weight: 600;
            font-size: 16px;
            padding: 0 25px;
            transition: transform 0.2s;
            min-width: 260px;
            text-align: center;
      
            &:hover {
              transform: scale(1.1);
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .links {
            .buy-now {
                margin: 0 15px 15px 0;
            }
        }
    }

    @include media-breakpoint-down(md) {
        .links {
            .buy-now {
                font-size: 14px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .text-cont {
            h2 {
                font-size: 30px;
                padding-top: 40px;
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        .links {
            text-align: center;
        }

        .img-cont {
            img {
                width: 250px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        padding: 50px 0;

        .links {
            .buy-now {
                margin: 0 0 15px;
            }
        }
    }
}
