#banner,
#blog-banner {
  padding: 75px 0;
  margin-top: 50px;
  background: url('../images/banner.jpg');
  background-size: cover;
  background-position-x: center;
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;

  .text-cont-bg {
    margin: 0 auto;
    width: 100%;

    .img-cont {
      width: 350px;
      margin: 0 auto;
    }
  }

  .banner-cont {
    align-items: center;
    align-self: center;
    text-align: left;
  }

  .text-cont {
    text-align: center;
    width: 100%;
    display: flex;

    h1 {
      font-family: $banner;
      color: $color2;
      line-height: 100%;
      padding: 0 0 0.3em;
      display: block;
      font-size: 85px;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    h3 {
      font-family: $banner;
      color: $color2;
      padding: 0 0 20px;
      display: block;
      font-size: 35px;
      font-weight: 400;
      letter-spacing: 2px;
    }

    p {
      font-family: $banner-font;
      color: $color2;
      line-height: 1.6;
      font-size: 24px;
      font-weight: 300;
      padding: 30px 0 20px;
    }

    .links {
      padding-top: 30px;
      
      a {
        width: 150px;
        display: inline-block;
        height: 50px;
        margin: 0 10px;
      }

      .amazon {
        background: url('../images/amazon.png');
      }

      .barnes {
        background: url('../images/barnes.png');
      }

      .btn-buy {
        background: $color1;
        font-family: $base-font;
        display: inline-block;
        margin: 0 10px;
        letter-spacing: 3px;
        width: 260px;
        height: 64px;
        line-height: 64px;
        color: #fff;
        text-transform: uppercase;
        border-radius: 15px;
        font-weight: 600;
        text-align: center;
        font-size: 18px;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.1);
        }
      }

      .btn-buy.readers {
        background-color: #fff;
        color: #000;
      }
    }
  }

  @include media-breakpoint-only(lg) {
    padding: 60px 0;

    .text-cont {
      padding: 10px 0;

      h1 {
        font-size: 80px;
      }
    }

    .blog-menu {
      right: 75px;
    }
  }

  @include media-breakpoint-only(md) {
    padding: 50px 0;
    background-position: right;

    .text-cont {
      h1 {
        font-size: 65px;
      }

      h3 {
        font-size: 22px;
        padding: 0 0 15px;
      }

      p {
        padding: 30px 0 20px;
        font-size: 18px;
      }

      .links {
        .btn-buy {
          margin: 0;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    background-position-x: 50%;
    padding: 50px 0;
    height: auto;

    .text-cont {
      text-align: center;
      justify-content: center;

      h1 {
        font-size: 30px;
      }

      h3 {
        font-size: 18px;
      }

      p {
        padding: 30px 0 20px;
        font-size: 18px;
      }

      .links {
        padding-top: 10px;
        
        .btn-buy {
          width: 220px;
          height: 50px;
          line-height: 50px;
          font-size: 16px;
        }
      }
    }

    .img-cont {
      text-align: center;

      img {
        width: 250px;
      }
    }

    .banner-cont {
      padding: 50px 0;
      text-align: center;
    }

    .text-cont-bg {
      .img-cont {
        width: 300px;
        float: unset;
        margin: 0 auto;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    background-position-x: center;
    height: auto;
    padding: 50px 0;
    background-position-y: center;
    margin-top: 34px;

    .banner-cont {
      padding: 50px 0 0;
    }

    .text-cont {
      h1 {
        font-size: 36px;
        line-height: 36px;
      }

      h3 {
        font-size: 16px;
      }

      p {
        font-size: 16px;
      }

      .links {
        .btn-buy {
          margin: 0 10px 10px;
        }
      }
    }

    .img-cont {
      img {
        width: 250px;
      }
    }

    .text-cont-bg {
      .img-cont {
        width: auto;
        max-width: 300px;
      }
    }
  }
}

section#blog-banner {
  background: url('../images/banner.jpg');
  background-size: cover;
  background-position-y: 65%;
  min-height: 335px;
  height: auto;
  padding: 70px 0 50px;

  .text-cont {
    margin-top: 0;
    width: 100%;

    h1 {
      font-size: 40px;
      letter-spacing: 0;
      color: $color3;
      text-transform: unset;
      width: 100%;
      text-align: center;

      span {
        color: $color3;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    height: auto;
    background-position-y: 65%;
    padding: 100px 0 50px;

    .text-cont {
      h1 {
        font-size: 70px;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    .text-cont {
      h1 {
        font-size: 25px;
      }
    }
  }
}
