.btn-style {
    display: inline-block;
    color: #fff;
    font-family: $base-font;
    font-size: 20px;
    border-radius: 7px;
    text-transform: none;
    overflow: hidden;
    padding: 15px 30px;
    background: #333;

    &:hover {
        background: darken(#333, 5%);
        color: #fff;
    }
}
